/* GENERAL STYLES BEGIN */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800,900');
*, *::before, *::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
body
{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}
ul
{
    padding: 0;
}
li
{
    list-style-type: none;
}

/* GENERAL STYLES END */

/* HEADER STYLES BEGIN */

header
{
    background-color: #bc2025;
    width: 100%;
    padding: 10px 0;
}
.logo
{
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}
header > ul
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}
header > ul li
{
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 5px;
}
header a
{
    text-decoration: none;
    color: white;
}
/* HEADER STYLES END */

/* MAIN STYLES BEGIN*/
/* CARROSSEL STYLES BEGIN*/

div.carrossel img{
    width: 100%;
}
.carrossel
{
    position: relative;
}
.carrossel_imagens
{
    display: none;
}
.carrossel_text
{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* CARROSSEL STYLES END*/

.big {
    color: #bc2025;
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 10px;
}
.small
{
    text-align: center;
    margin: 10px;
    color: darkolivegreen;
}
nav ul
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
/* FORM STYLES BEGIN */
[type="submit"] {
    background-color: #bc2025;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 10px;
    font-weight: bolder;
}
/* FORM STYLES END */
/* MAIN STYLES END*/

/* SECTION STYLES BEGIN */

section > img
{
    width: 100%;
    margin: 10px auto;
}
form
{
    margin: 0 10px;
}
input, select, textarea
{
    margin: 5px auto;
}

/* SECTION STYLES END */

/* FOOTER STYLES BEGIN */

footer
{
    background-color: #333333;
    padding: 10px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    text-align: justify;
}
footer p
{
    font-size: 0.5rem;
}
.footer_right
{
    max-width: 50%;
    margin-top: 5px;
}
.media-btn i
{
    color:white;
    margin: 8px;
}
/* FOOTER STYLES END */